In [1]:
#import Relevant packages 
import pandas as pd

In [4]:
# load the Reaction data sets
reaction = pd.read_csv("Reactions.csv")

# check the head the data set
reaction.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

Before we proceed with our Cleaning , we can see that our data contained 5 columns, some of which are irrelevant to our analysis below are the Explaination of each column; 

* Unnamed: 0 : This column should be dropped as it is the index that came with our file and python read it as a column and has ssigned a new index for our datas.

* Content ID: this is Useful in our Analysis as it Contained the unique ID for our content , and remember we are to Determine the Top 5 most Popular content, Hence, this Column should be kept.

* User ID : This column is irrelevant to our analysis it contain the ID for each user , but we are *NOT* to determine Top 5 most popular cateegory based on User, Hence this column should be drop.

* Type : This column contain The type of Contents we are go to do our Analysis on , so it should be Kept, But we need to change its name To "Reaction Type"  To avoid Confusion and to be same with "Reaction Type" in Reaction Type file.

* Datetime : This Column is useful in our Analysis to check for month or year with the most post, so it should be kept and should be convert to pandas datetime format.

In [5]:
# Drop irrelevant columns 
reaction.drop(["Unnamed: 0","User ID"], axis = 1,inplace = True)

In [6]:
# change the name of Type column to Reaction Type

reaction.rename(columns= {"Type":"Reaction Type"},inplace=True)

In [12]:
# Convert the datetime column to pandas Datatime format

reaction["Datetime"] = pd.to_datetime(reaction["Datetime"])

Let's check if all our changes have been effected by checking the reaction head and check the type od Datetime column

In [13]:
reaction.head()

                             Content ID Reaction Type            Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2           NaN 2021-04-22 15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike 2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared 2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2021-01-06 19:13:01

In [14]:
type(reaction["Datetime"])

pandas.core.series.Series

Next is to check for missing values and drop it if any

In [19]:
## Check for Missing Values in the Data Set 
reaction.isna().sum().sort_values()

Content ID         0
Datetime           0
Reaction Type    980
dtype: int64

Let's drop the rows with missing value in the Reaction Type Column

In [20]:
#Droping the rows with missing values in the Reaction Type column
reaction.dropna(inplace = True)

In [21]:
# check if we have effectively dropped the Missing values 
reaction.isna().sum().sort_values()

Content ID       0
Reaction Type    0
Datetime         0
dtype: int64

Ok, that's nice

Let's check the value counts of the Reaction Type column

In [23]:
reaction["Reaction Type"].value_counts()

heart          1622
scared         1572
peeking        1559
hate           1552
interested     1549
dislike        1548
adore          1548
want           1539
love           1534
disgust        1526
like           1520
super love     1519
indifferent    1512
cherish        1501
worried        1497
intrigued      1475
Name: Reaction Type, dtype: int64

Looks like our reaction file is cleaned and ready for Analysis.

Let's save it as acsv file

In [24]:
reaction.to_csv("Cleaned Reaction.csv")