In [20]:
#import Relevant packages 
import pandas as pd

In [21]:
# load the Reaction Type data sets
reaction_type = pd.read_csv("ReactionTypes.csv")

In [22]:
# Check the head of react_type
reaction_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [23]:
#check for missing Values (if any) in ascending order
reaction_type.isna().sum().sort_values()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

As we can see our reaction type does not contain any missing value Thus, we can continue our Analysis with it . But, Before then Let's change "Type" column to "Reaction Type" to Avoid confusion.

In [24]:
# rename the "Type" column to "Reaction Type"
d = {"Type":"Reaction Type"}

reaction_type.rename(columns=d,inplace=True)
reaction_type.head()

   Unnamed: 0 Reaction Type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70
2           2       disgust  negative      0
3           3          hate  negative      5
4           4    interested  positive     30

That's pretty cool, But, if we can see that the table contained a column called "Unnamed: 0" This column is the index that came with our file , but python read it as a column and assigned another new index for our file , Thus this column(Unnamed: 0) should be drop.

In [27]:
#drop the "Unnamed:0" column and check the head of the file once again
reaction_type.drop("Unnamed: 0", axis =1,inplace =True)
reaction_type.head()

  Reaction Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30

Finally, Let's see if our Columns match their data Types

In [28]:
reaction_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Reaction Type  16 non-null     object
 1   Sentiment      16 non-null     object
 2   Score          16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

Let's check the value counts of Reaction Type column to avoid duplicates

In [35]:
reaction_type["Reaction Type"].value_counts()

heart          1
want           1
disgust        1
hate           1
interested     1
indifferent    1
love           1
super love     1
cherish        1
adore          1
like           1
dislike        1
intrigued      1
peeking        1
scared         1
worried        1
Name: Reaction Type, dtype: int64

Fantastic! Our Reaction Type File is cleaned and ready For analysis

Let's save this as a csv file.

In [34]:
# save Reaction Type file as csv 
reaction_type.to_csv("Cleaned ReactionType.csv")